<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Page</title>
</head>
<body>
    <h1>간단한 ToDo 리스트</h1>
    <a href="/insert">
        <button type="button" class="btn btn-primary">추가</button>
    </a>
    <hr>

    <table width="90%" border="1">
        <tr>
            <th>ID</th>
            <th>내용 할일</th>
            <th>완료여부</th>
            <th>완료처리</th>
            <th>삭제</th>
        </tr>
        <% datalist.forEach(function (item, index) { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.contents %></td>
            <td><%= item.yesno %></td>
            <td>
                <% if (item.yesno == 'yes') {%>}
                <button type="button" class="btn btn-light">변경</button>
                <% } else { %>
                    <a href="/edit/<%= item.id %>">
                        <button type="button">완료</button>
                    </a>
                <%}%>
            <td><a href="/delete/<%= item.id %>">
                <button type="button">삭제</button>
            </a></td>
        </tr>
        <% }); %>

        <% for(let i=0; i<datalist.length; i++) {  
            function (item, index) { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.contents %></td>
                <td><%= item.yesno %></td>
                <td>
                    <% if (item.yesno == 'yes') {%>}
                    <button type="button" class="btn btn-light">변경</button>
                    <% } else { %>
                        <a href="/edit/<%= item.id %>">
                            <button type="button">완료</button>
                        </a>
                    <%}%>
                <td><a href="/delete/<%= item.id %>">
                    <button type="button">삭제</button>
                </a></td>
            </tr>
        <% }); %>

        <% for(let item of datalist) { %>
            function (item, index) { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.contents %></td>
                <td><%= item.yesno %></td>
                <td>
                    <% if (item.yesno == 'yes') {%>}
                    <button type="button" class="btn btn-light">변경</button>
                    <% } else { %>
                        <a href="/edit/<%= item.id %>">
                            <button type="button">완료</button>
                        </a>
                    <%}%>
                <td><a href="/delete/<%= item.id %>">
                    <button type="button">삭제</button>
                </a></td>
            </tr>
        <% }); %>

    </table>
</body>
</html>